<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Footer</title>
</head>
<body>
 <footer>
  <div class="footerTop">
    <div class="social-media">
      <a href="https://web.facebook.com/PerfumeriasRouge/?locale=es_LA&_rdc=1&_rdr" class="social-link"><img src="  https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" alt="Facebook"></a>

      <a href="https://twitter.com/perfumeriarouge?lang=es" class="social-link"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png" alt="Twitter"></a>

      <a href="https://www.instagram.com/perfumeriasrouge/?hl=es" class="social-link"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="Instagram"></a>
    </div>
  </div>



  
  <div class="footerBottom">
    <div class="footerColumn">
      <h4>Ayuda</h4>
      <ul>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Guía de compra</a></li>
        <li><a href="#">Envíos y devoluciones</a></li>
      </ul>
    </div>
    <div class="footerColumn">
      <h4>Contacto</h4>
      <ul>
        <li><a href="#">Teléfono: 123456789</a></li>
        <li><a href="#">Email: rougecompany@gmail.com</a></li>
        <li><a href="#">Formulario de contacto</a></li>
        <li><a href="#">Sucursales</a></li>
      </ul>
    </div>
    <div class="footerColumn">
      <h4>Términos y Condiciones</h4>
      <ul>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Términos de uso</a></li>
        <li><a href="#">Política de cookies</a></li>
      </ul>
    </div>
  </div>
</footer>


</body>
</html>