<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formularios.css">
    <title>Confirmacion de compra</title>
</head>

<body>
{{> navbar}}

<div class="confirmacion">
        {{mensaje}}
<p class="mensaje">Recibirás un aviso por correo electrónico cuando tu producto esté listo y sea enviado a tu domicilio. Apreciamos tu confianza y esperamos que disfrutes tu compra!</p>

{{> footer}}
<div>
</body>

</html>