<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/estilos.css">
  <title>Inicio</title>
</head>
<body>
  <header>
    <p>Envios super express en CABA en 3hs</p>
  </header>
  {{> navbar}}
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/612b84e3-addb-4ebe-a8e0-00d15a633ad4___486c750694f735e4ddaf5db4d4f00f53.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/4fb1e13b-4baa-4b9f-a83c-cbc9fec14543___afe92813a4d2099bf2c19e3f2c6f5a2a.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/68ec03c6-c8da-49b9-a9a5-1abac68d2209___84f2234dfb8e4bd7b17e62bca3f97e30.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <div class="contenedorEsferas">
    <div class="esferas">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/aff31bae-c9b0-40bb-a908-bd932cb191a2___a3212bb8ae87d853b975804d6d38af46.png" alt="promo1">
    </div>

    <div class="esferas">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/ac06f2f0-78c9-4e52-8e8a-4c5706990c8f___82834bc9dc650021eaf4e077aef7b2a9.png" alt="promo2">
    </div>

    <div class="esferas">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/07761d37-5b1e-4db1-815d-a36d48efc359___af3bd5c22ad717fbda57920fe6faa144.png" alt="promo3">
    </div>

    <div class="esferas">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/ab7d10b1-473d-48df-93a8-e24fd0f6c85d___b16d2ebd2178fdda829bb658e3e0780e.png" alt="promo4">
    </div>

    <div class="esferas">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/9040a5c5-5499-4f0b-8a08-c872b6364faf___57cdfe8534c266813c9d74e15c3a268e.png" alt="promo4">
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <a href="/productos">
      <button class="botonProductos">Ver todos los productos</button>
    </a>
  </div>

  <div class="cards">
    <div class="card">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/e823f5ce-5d4b-4658-af40-c86a546ca400___b79fbf1fdcafb4b581af585061cf15b4.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/c42a5a19-fb3b-4bab-b0c5-e0b6046c26ae___f3bdc41c1dbee55207877d3c29629c1b.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/5ed79ffb-94ae-4c0b-97e5-af53d1750026___d742e32089d3fca05a792a935b8fcd83.jpg" class="card-img-top" alt="...">
    </div>
  </div>

  <div class="portadaOferta">
    <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/c6ac8d07-fd38-413b-8787-d865138b74ce___aec3cee4401e3a225a93db590c28947c.jpg" alt="portadaOferta">
  </div>

  <div class="cards">
    <div class="card">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/d681ef32-467b-4c38-a517-fa151f554852___b0b30b4a3c7fda370479d1e4a734bd2d.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/ff0f09ea-8e91-4bc0-a33a-3b5056cabded___c7a2c460dfbb248ad1dbd795665e1021.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/0eabc98c-a093-4107-8670-f3b168c96ec5___0b77825c9c7c53a0a21354a5721844ff.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card">
      <img src="https://rougeb2car.vtexassets.com/assets/vtex.file-manager-graphql/images/3d84b892-93e2-4eae-9454-62f10ea15a02___a861f5716a3368aab8f085299206d898.jpg" class="card-img-top" alt="...">
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>


  {{> footer}}
</body>
</html>
